:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  font-size: 1.25em;
  min-width: 320px;
  min-height: 100vh;
  background-color: #1f1f1f;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-bottom: 2vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
::-webkit-scrollbar{
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track{
  background-color: transparent;
  margin: 5px;
}
::-webkit-scrollbar-thumb{
  background-color: gray;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover{
  background-color: gainsboro;
}
@media (prefers-color-scheme: light) {
  :root {

  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
@font-face {
  font-family: 'Work Sans';
  src: url("./assets/WorkSans-VariableFont_wght.ttf");
}