.dropDownContainer{
    position: relative;
    cursor: pointer;
    font-size: 0.7rem;
}
.dropDownContainer div{
    position: relative;
    place-content: center;
    display: flex;
    place-items: center;
    border: 2px solid #313030;
    height: 25px;
    border-radius: 12px;
    padding: 0;
    color: burlywood;
    font-weight: bold;
    box-shadow: 0 0 3px 0 black;
    background-color: #313030;
}
.dropDownContainer span{
    justify-self: center;
}

.dropDownContainer img:hover{
    background-color: #3b3a3a;
}
.dropDownContainer div>img{
    width: 23px;
    height: 23px;
    position: absolute;
    right: 0;
}
.dropDownContainer ul{
    position: absolute;
    top:30px;
    z-index: 1000;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: white;
    color: black;
    contain: paint;
    height: 0;
    transition: height 0.3s ease;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.dropDownContainer ul>:last-child{
    border-bottom: none;
    margin-bottom: 5px;
}
.dropDownContainer hr{
    margin: 3px 5px 3px 5px;

}
.dropDownContainer li{
    padding: 0 10px;
    margin: 3px 5px 3px 5px;
}
.dropDownContainer li:hover{
    background-color: #747bff;
    border-radius: 5px;
}
