.hingeBar{
    display: flex;
    place-content: space-around;
    place-items: center;
    border-bottom: 1px solid #3a3939;
    height: 8%;
    position: relative;
}
.hingeBar label{
    background: linear-gradient(25deg,#646cff,red);
    background-clip: text;
    font-size: 1.3rem;
    color: transparent;
    font-weight: bold;
}
.language{
    display: flex;
    place-items: center;
    gap: 10px;
    color: white;
    font-family: monospace;
    font-size: 0.9rem;
}
.selector ul{
    margin: 0;
    list-style: none;
    border: 1px solid gray;
    padding: 5px;
}
.selector li{
    height: 30px;
}
.run{
    display: flex;
    place-items: center;
    font-family: monospace;
    padding: 3px 7px 3px 7px;
    color: #5bdc5b;
    font-size: 0.9rem;
    border-radius: 5px;
}
.run:hover{
    background-color: #3a3939;
}
.run img,.terminalButton img{
    width: 27px;
    height: 27px;
}
.terminalButton{
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    display: flex;
    place-items: center;
    place-content: center;
}
.terminalButton img{
    padding: 2px 4px 2px 4px;
    border-radius: 7px;
}
.terminalButton img:hover{
    background-color: #0658a2;

}
