/* header section */
.header{
    height: 100vh;
    z-index: 8;
    contain: paint;
}
.backgroundImgContainer{
    position: absolute;
    top: 0;
    z-index: -9;
    left: 0;
    right: 0;
    animation: stick linear;
    animation-timeline: view(y);
    animation-: exit;
    transform-origin: top;
}
.backgroundImgContainer::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
}
.backgroundImgContainer img{
    object-fit: cover;
    object-position: center top;
    width: 100%;
    height: 100vh;
}
.openMessage{
    display: flex;
    padding-left: 15%;
}
.line{
    width: 6px;
    background: linear-gradient(180deg,black,orange,#b128e7,#646cff,black);
    height: 75vh;
    margin: 0 4.8em 0 0;
    animation: line linear;
    animation-timeline: view(y)
}
.openMessage h1{
    font-size: 3.6em;
    font-family: 'Work Sans',sans-serif;
}
.openMessage span{
    color: gainsboro;
    font-family: 'Work Sans',sans-serif;
}
.codeImageContainer{
    border-radius: 20px;
    contain: paint;
    height: 30vh;
    width: fit-content;
}
.codeImageContainer img{
    height: 30vh;
    width: auto;
}
.textHeaderContainer{
    display: grid;
}
/* Navigation Bar styling */

.navBarContainer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 25%;
    display: grid;
    background-color: #1f1f1f;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
}
.scrollUpIndicator{
    display: grid;
    justify-content: center;
    place-items: center;
    padding: 10px;
    gap: 5px;

}
.scrollUpIndicator span{
    font-family: "Work Sans", sans-serif;
}
.indicator{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    place-items: center;
    justify-content: center;
    border: 2px solid gainsboro;
}
.indicator:hover{
    background-color: gray;
}
.indicator img{
    animation: drop 2s ease-in 1s infinite;
}
.indicator img:hover{
    animation-play-state: paused;
}
.scrollUpIndicator span{
    font-size: medium;
}
.navBar{
    display: flex;
    justify-content: space-between;
    padding: 4px 10% 4px 10%;
    align-self: end;
    z-index: 3;
}
.navBar p{
    font-family: 'Work Sans',sans-serif;
    font-size: x-large;
}
.stick{
    background-color: #212121;;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    color: gainsboro;
    box-shadow: 0 1px 6px 0 #1e1e1e; ;
}
.navBar div{
    display: flex;
    place-items: center;
    gap: 10%;
    font-weight: bold;
}
.navBar ul{
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
}
.navLink{
    color: gainsboro;
    cursor: pointer;
    font-weight: normal;
    display: flex;
    place-items: center;
}
.navLink img{
    width: 30px;
    height: 30px;
}
.black{
    color: black;
}
.tryNow{
    padding: 5px 10px 5px 10px;
    border: 2px solid gray;
    display: flex;
    place-items: center;
}
.tryNow:hover{
    background-color: gainsboro;
}
.tryNow img{
    width: 30px;
    height: 30px;
}
/*section*/
/*online IDLE*/
.onlineIDLEContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}
.onlineIDLE{
    padding-left: 15%;
    position: relative;
    background-image: url("./global-internet.svg");
    background-repeat: no-repeat;
    background-position: right 5vh;
    background-size: 40%;

}

.lineIDLEBG{
    position: relative;
    height: 60vh;
    width: 6px;
    margin-right: 4.8em;
}
.lineIDLEBG{
    background: linear-gradient(#1f1f1f,green,greenyellow,#1f1f1f);
    animation: lineBG linear;
    animation-timeline: view(y)
}
.lineIDLEBG::after,.competitionLine::after {
    display: block;
    position: absolute;
    top: calc(50%); /* Half of the height */
    right: calc(50%); /* Adjust based on the width of the pseudo-element */
    content: url("./circle.svg");
    transform: translate(50%, -50%);
    width: 35px;
    height: 35px;

    background-color: #1f1f1f;
    padding: 5px;
    border-radius: 50%;

}
.lineIDLEGB{
    background: linear-gradient(green,#1f1f1f);

}
.circle{
    width: fit-content;
    height: 35px;
    margin: 3px;
}
.circle img{
    height: 35px;
    width: 35px;
}
.onlineIDLEMessage{
    display: flex;
    z-index: 3;
}
.IDLEMessage{
    font-family: "Work Sans",sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.IDLEMessage h2{
    font-size: 3.5em;
    margin-bottom: 3px;
    margin-top: 3px;

}
.codeEditor img{

}
.codeEditor{
    height: 90vh;
    border-radius: 30px;
    width: fit-content;
    contain: paint;
    box-shadow: 0 0 10px 2px #1f1e1e;
    border: 1px solid #3b3a3a;
}
.codeCompetition{
    display: flex;
    flex-direction: column;
    align-items: end;
    background-image: url("./trophy-black.svg");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: left 5vh;
}
.codeCompetitionMessage{
    display: flex;
    padding-right: 15%;
}
.competitionLine{
    position: relative;
    height: 60vh;
    width: 6px;
    margin-left: 4.8em;
    background: linear-gradient(#1f1f1f,pink,#1f1f1f);
}
.competitionLine::after{
    content: url("./trophy.svg");
}
.codeCompetitionOptions{
    width: 100%;
    display: flex;
    justify-content: space-around;
    contain: paint;
    padding: 25px 0 25px 0;

}
.competitionImageContainer{
    position: relative;
    width: 28vw;
    height: 35vh;
    display: flex;
    justify-content: center;
    place-items: center;
    background-image: url("./competition-image.jpg");
    background-size: cover;
    background-position: center center;
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: color;
}
.competitionImageContainer img{
    width: auto;
    height: 25vh;
}
.competitionBox{
    width: 28vw;
    contain: paint;
    border: 1px solid #3b3a3a;
    border-radius: 20px;
    transition: scale 0.4s ease-in-out;
    box-shadow: 0 0 10px 2px #1f1e1e;
}
.competitionBox:hover{
    scale: 1.03;
}
.left{
    animation: boxAppearLeft linear;
    animation-timeline: view(y);
}
.center{
    animation: boxAppearCenter linear;
    animation-timeline: view(y);
}
.right{
    animation: boxAppearRight linear;
    animation-timeline: view(y);
}
.competitionText{
    background-color: #212121;
}
.competitionText p {
    font-family: "Work Sans", sans-serif;
    padding: 0 15px 0 15px ;
    font-size: medium;
}

@keyframes stick {
    0%{
        transform: translateY(-50%);
    }
    100%{
        transform: translateY(50%);
    }
}
@keyframes drop {
    0%{
        transform: translateY(0%);
    }
    80%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(0%);
    }
}
@keyframes line {
    65%{
        background: linear-gradient(180deg,black,orange,#b128e7,#646cff,black);
    }
    75%{
        background: linear-gradient(180deg,black,orange,#b128e7,black);
    }
    85%{
        background: linear-gradient(180deg,black,orange,black);
    }
    100%{
        background: linear-gradient(180deg,black,black);
    }
}
@keyframes lineBG {
    55%{
        background: linear-gradient(#1f1f1f,green, #8cbb45,#1f1f1f);
    }
    65%{
        background: linear-gradient(#1f1f1f,#8cbb45,green,#1f1f1f);
    }
    100%{
        background: linear-gradient(#1f1f1f,#8cbb45,green,#1f1f1f);
    }
}
@keyframes lineGrow {
    0%{
        height: 0;
    }
    100%{
        height: 100vh;
    }
}
@keyframes breath {
    0%{
        box-shadow: 0 0 30px 1px green;
    }
    50%{
        box-shadow: 0 0 30px 3px green;
    }
    100%{
        box-shadow: 0 0 30px 1px green;
    }
}
@keyframes boxAppearCenter {
    0%{
        transform: translate(0,50%);
        opacity: 0.3;
    }
    30%{
        transform: translate(0);
        opacity: 1;
    }
}
@keyframes boxAppearLeft{
    0%{
        transform: translate(-50%,50%);
        opacity: 0.3;
    }
    30%{
        transform: translate(0);
        opacity: 1;
    }
}
@keyframes boxAppearRight{
    0%{
        transform: translate(50%,50%);
        opacity: 0.3;
    }
    30%{
        transform: translate(0);
        opacity: 1;
    }
}

