.link{
    padding: 0.7em 1.2em;
    border: 1px solid gray;
    font-weight: normal;
    font-size: 1.1rem;
    color: whitesmoke;
    display: flex;
    place-items: center;
    border-radius: 7px;
    gap: 12px;
}
.link:hover{
    color: whitesmoke;
    background-color: #3a3939;
}
.link img{
    width: 1.5rem;
    height: 1.5rem;
}