.container{


}
.container ul li{
    font-size: 0.7rem;
    margin-top: 2px;
    margin-bottom: 2px;
    display: flex;
    place-items: center;
    gap: 5px;
    transition: color 0.6s ease;
}
.container ul{
    color: gainsboro;
    padding-top: 1vh;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    margin: 0 0 2vh 0;
    padding-bottom: 2vh;
    padding-left: 20px;
    list-style: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #1a1a1a;

}
.container ul li div{
    width: 8px;
    height: 8px;
    border: 1px solid gray;
    transition: background-color 0.5s ease;
}