.completionDialogSection{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.9);
    display: flex;
    place-content: center;
}
.dialog{
    width: 500px;
    place-self: center;
    gap: 20px;
    border-radius: 15px;
    contain: paint;
    background-color: #1F1F1F;
}
.caption{
    font-size: 1.1rem;
    background-color: #3B3B3B;
    padding: 20px 25px;
    display: flex;
    place-content: space-between;
    place-items: center;
}
.content{
    margin-top: 10px;
    padding: 0 25px 20px 25px;
}
.content p{
    font-size: 1rem;
}
.participantEndTime{
    padding-left: 0;
}
.participantEndTime li{
    display: flex;
    place-items: center;
    place-content: space-between;
    padding: 10px 20px;
}