.preview{
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y:scroll;
}

.codeEditor{
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y:scroll;
    filter: blur(5px);
}
.codeEditor.active{
    filter: unset;
}
.participantConsole{
    height: 30vh;
    background-color: #1E1F22;
    padding: 0 32px;
    display: flex;
    flex-direction: column;
}
.participantConsole p{
    margin-top: 10px;
}
.participants{
    width: 100%;
    display: flex;
    flex: 1;
    gap: 20px;
    place-content: center;
    place-items: center;
    transition: all ease 0.5s;
}
.referee{
    position: absolute;
    display: flex;
    place-items: center;
    gap: 20px;
    top: 10px;
    right: 40px;
    transition: all ease 0.5s;
}
.referee.active{
    top: 9%;
    z-index: 1000;
}
.start{
    padding: 5px 20px;
    font-size: 1rem;
    border:1px solid ;
    border-radius: 10px;
    cursor: pointer;
}
.start:hover{
    background-color: #505050;
}